/* About Section */
.about-section {
  position: relative;
  background-image: var(--section-background-color);
  color: white;
  margin-top: 4.5rem;
}

.project-heading {
  color: white;
  font-size: 2.3em;
  font-weight: 500;
  padding-top: 10px;
  margin-top: 2.5rem;
}

@media (max-width: 767px) {
  .about-section {
    margin-top: 6rem;
  }
  .project-heading {
    margin-top: 4rem;
    font-size: 1.5em;
  }
}

.tech-icons {
  font-size: 4.5em;
  margin: 15px;
  padding: 10px;
  opacity: 0.93;
  border: 1.7px solid rgba(200, 137, 230, 0.637);
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  overflow: hidden;
  transition: all 0.4s ease 0s;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px;
  }
}

.tech-icons:hover {
  transform: scale(1.05);
  overflow: hidden;
  border: 2.2px solid rgba(197, 115, 230, 0.883);
}
.tech-icon-images {
  padding: 20px;
  line-height: 1.6;
}

.quote-card-view {
  border: none;
  color: white;
  background-color: transparent;
  box-shadow: var(--card-shadow);
  border-radius: var(--card-radius);
}

.about-activity {
  list-style: none;
  text-align: left;
  padding-left: 1px;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0;
  }
} 