/* Projects Section */
.project-section {
  position: relative;
  background-image: var(--section-background-color);
}

.project-card {
  padding: 2rem 1.5rem;
  height: auto;
}

.project-card-view {
  box-shadow: var(--card-shadow);
  color: white;
  background-color: transparent;
  opacity: 0.9;
  transition: all 0.5s ease 0s;
  height: 100%;
  border-radius: var(--card-radius);
}
.project-card-view:hover {
  transform: scale(1.02);
  overflow: hidden;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561);
}

.btn-primary {
  color: #fff;
  background-color: #623686;
  border-color: #623686;
}

.btn-primary:hover {
  color: #fff;
  background-color: #6d20c5d7;
  border-color: #6d20c5d7;
}

.btn:focus {
  outline: 2px solid var(--imp-text-color);
  outline-offset: 2px;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--imp-text-color);
}

.project-heading {
  color: white;
  font-size: 2.3em;
  font-weight: 500;
  padding-top: 10px;
  margin-top: 4.5rem;
}

@media (max-width: 767px) {
  .project-heading {
    margin-top: 6rem;
    font-size: 1.5em;
  }
} 